<div id="calc-widget" class="calc-container" draggable="true">
    <div class="calc-row">
        <div class="text-box col-12">
            <span class="total-expr"></span>
            <span class="current-number"></span>
        </div>
    </div>
    <div class="calc-row">
            <span value="SQRT" class="button special-symbols col-3">&#x0221A;</span>
            <span value="SQR" class="button special-symbols col-3">&#x1D4B3;<sup>2</sup></span>
            <span value="CUBE" class="button special-symbols col-3">&#x1D4B3;<sup>3</sup></span>
            <span value="INV" class="button special-symbols col-3">1/&#x1D4B3;</span>
        </div>
    <div class="calc-row">
        <span value="CE" class="button system col-3">CE</span>
        <span value="C" class="button system col-3">C</span>
        <span value="DEL" class="button system col-3">
            <img style="padding-top:20%;color:white;"src="./backspace-arrow.png"/>
        </span>
        <span value="DIV" class="button special-symbols col-3">/</span>
    </div>
    <div class="calc-row">
        <span value="7" class="button number col-3">7</span>
        <span value="8" class="button number col-3">8</span>
        <span value="9" class="button number col-3">9</span>
        <span value="MULTI" class="button special-symbols col-3">x</span>
    </div>
    <div class="calc-row">
        <span value="4" class="button number col-3">4</span>
        <span value="5" class="button number col-3">5</span>
        <span value="6" class="button number col-3">6</span>
        <span value="MINUS" class="button special-symbols col-3">-</span>
    </div>
    <div class="calc-row">
        <span value="1" class="button number col-3">1</span>
        <span value="2" class="button number col-3">2</span>
        <span value="3" class="button number col-3">3</span>
        <span value="PLUS" class="button special-symbols col-3">+</span>
    </div>
    <div class="calc-row">
        <span class="button disabled col-3"></span>
        <span value="0" class="button number col-3">0</span>
        <span value="dot" class="button number col-3">.</span>
        <span value="EQ" class="button special-symbols col-3">=</span>
    </div>
</div>