body{
    background:url("../images/drumRoll.jpg");
    margin: 0px;
    padding: 0px;
    height:100%;
    width:100%;
    font-family: sans-serif;
}
#main{
    position: absolute;
    left: 5%;
    top:40%;
    padding:0px;
}
.drum{
    float:left;
    border:2px solid black;
    height:150px;
    width:100px;
    margin:10px;
    border-radius: 5px;
    background:rgba(0,0,0,0.5);
}
.hitit{
    border:2px solid yellow;
    box-shadow: 0 0 20px yellow;
    
}
.drum > span:nth-child(1){
    text-align: center;
    position: relative;
    top:30%;
    left:35%;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}
.drum > span:nth-child(2){
    text-align: center;
    position: relative;
    top:60%;
    color:yellow;
    text-transform: uppercase
}